---
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title="about page">

	<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content flex-col lg:flex-row text-center">
			<div class="mockup-phone border-primary w-[500px]">
				<div class="camera"></div>
				<div class="display">
				  <div class="artboard artboard-demo phone-1 text-center">

					<img class="object-cover flex justify-center" src="../../public/space-background-realistic-starry-night-cosmos-shining-stars-milky-way-stardust-color-galaxy.jpg" alt="" srcset="">
				  </div>
				</div>
			  </div>
		  <div>
			<h1 class="text-5xl font-bold">Aboout page</h1>
			<p class="p-6">
			 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut pariatur, cum, inventore est tenetur odit nostrum adipisci asperiores vero explicabo totam optio repellat delectus laboriosam libero, alias commodi provident cumque.
			</p>
			<button class="btn btn-primary">Get Started</button>
		  </div>
		</div>
	  </div>

</MainLayout>


<style>

	h1{
		color: royalblue;
		text-align: center;
	}
</style>